<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FAVORITES</title>
    <link rel="stylesheet" href="/css/favorites.css">
  </head>
  <body>
    <h1>yodafy</h1>
    <form action="./users/profile">
      <input type="submit" value="Return Home">
    </form>
    <h2><%= user.username %>'s Favorites:</h2>
    <div class="favorites-container">
    <% favorites.forEach((fav) => { %>
      <div class="fav">
        <p><%= fav.body %></p>
        <form action="/favorites/<%= fav._id %>?_method=DELETE" method="post">
          <input type="submit" value="Delete">
        </form>
      </div>
    <% }) %>
  </div>

  </body>
</html>
