<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="body">
      <h1>yodafy</h1>
      <div class="container">
       <form class="" action="/auth" method="post">
         <input class="forms" type="text" name="user[username]" value="" placeholder="Username">
         <br>
         <input class="forms" type="password" name="user[password]" value="" placeholder="Password">
         <br>
         <input class="button" type="submit" name="name" value="Log In">
       </form>
      </div>
    </div>
  </body>
</html>
